.app-header {
  text-align: left;
  border-bottom: 4px solid #BF2D33;
  height: 70px;

  @media (max-width: 767px) {
    height: 80px;
    position: relative;
  }

  .container,
  .row {
    height: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 767px) {
      justify-content: center;
    }

    .name {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: bold;
      color: #666666;
      margin-left: 20px;
    }
  }

  .cta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    @media (max-width: 767px) {
      justify-content: center;
    }

    .btn-danger {
      margin-left: 8px;
    }
  }
}

.app-body {
  background-color: #fff;

  @media (max-width: 991.98px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }

  .main-top {
    .breadcrumb {
      padding-right: 0;
      padding-left: 0;
      border-bottom: 0;
      margin: 5px 0;

      .breadcrumb-item+.breadcrumb-item::before {
        content: ">";
      }

      .breadcrumb-item>a {
        color: #BF2D33;
      }

      a.menu {
        color: #BF2D33;
      }
    }
  }

  .content {
    background-color: #F3F3F3;
    padding: 4em 6em;
    border: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      padding: 2em 1em;
    }
  }

  .form {

    .steps {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 325px;
      width: 100%;
      margin: 0 auto 40px auto;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 4px;
        background-color: #DDDDDD;
      }

      .step {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #DDDDDD;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-align: center;
        line-height: 1;
        z-index: 10;

        &.active {
          background-color: #BF2D33;
        }
      }
    }

    .form-heading {
      color: #BF2D33;
      text-align: center;
    }

    .form-desc {
      text-align: center;
    }

    .form-content {
      max-width: 476px;
      width: 100%;
    }

    .form-cta {
      text-align: center;
      margin-top: 60px;
    }
  }
}

.app-footer {
  background-color: #EEEEEE;
  border-top: 0;
  flex: 0 0 75px;

  .copyright {
    font-size: 12px;
    color: #8D8D8D;
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 767px) {
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 767px) {
      justify-content: center;
    }

    .text {
      color: #8D8D8D;
      margin-right: 8px;
      font-size: 12px;
    }
  }
}

.btn {
  font-weight: bold;
}

.btn-primary {
  background-color: #fff;
  color: #20a8d8;
}

.btn-danger {
  background-color: #BF2D33;
  border-color: #BF2D33;
}